body {
  background: #1e1e1e;
}

h1 {
  color: #e1e1e1;
}

#quoteView {
  position: relative;
  background: #1e1e1e;
  margin: auto;
  padding-top: 15px;
  border-radius: 2px;
  text-align: center;
  width: 300px;
  height: 300px;
}

.rQuote {
  width: 81px; height: 63px;
  background: url(img/sb1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  color: #eeeeee;
  position: relative;
  margin: auto;
}

.rQuote:hover {
  cursor: pointer;
  background: url(img/sb6.png);
}

.rQuote:active {
  background: url(img/sb1.png);
}

#quote {
  margin-top: 10px;
}